  - name: setting hostname
    hostname: name=ucloudgurgaon.jiolabs.com
#
#  - name: doing network settings
#    lineinfile: 
#     dest: /etc/sysconfig/network-scripts/ifcfg-eno2
#     regexp: '{{ item.regexp }}' 
#     line: '{{ item.line }}'
#    with_items:
#     - { regexp: '^BOOTPROTO', line: 'BOOTPROTO=static' }
#     - { regexp: '^ONBOOT', line: 'ONBOOT=yes' }
#     - { regexp: '^IPADDR', line: 'IPADDR=192.168.0.10' }
#     - { regexp: '^NETMASK', line: 'NETMASK=255.255.255.128' }
#     - { regexp: '^GATEWAY', line: 'GATEWAY=192.168.0.1' }
#  - name: disabling Firewall
#    service: name=firewalld state=stopped
  - name: updating /etc/hosts
    lineinfile: dest=/etc/hosts regexp="^127.0.0.1" line="127.0.0.1 ucloudgurgaon.jiolabs.com ucloudgurgaon localhost localhost.localdomain localhost4 localhost4.localdomain4"
 # - command: chkconfig iptables off
  - name: setting up of repo
    copy: dest=/etc/yum.repos.d/rhosp.repo content="[base]\nname=base\nbaseurl=http://10.64.111.70/rhosp10/repo\nenabled=1\ngpgcheck=0"
  - name: NTP configurations
    yum: name=ntp state=installed
  - lineinfile: dest=/etc/ntp.conf state=absent regexp=^server
  - lineinfile: dest=/etc/ntp.conf state=present line="server 172.16.56.136 iburst"
  - lineinfile: dest=/etc/resolv.conf line="nameserver 8.8.8.8"
  - command: ntpdate 172.16.56.136
  - name: starting NTP permanently across reboot
    service: name=ntpd state=started
  - command: chkconfig ntpd on
#  - name: adding subscription manager
#    command: subscription-manager register --username rohit.m.mehta@ril.com --password rjil@1234
#  - name: attaching a pool 
#    command: subscription-manager attach --pool=8a85f9815cce08f5015cce4ad171475a
#  - name: disabling repos
#    command: subscription-manager repos --disable=*
#  - name: enabling required repos
#    command: subscription-manager repos --enable=rhel-7-server-rpms --enable=rhel-7-server-extras-rpms --enable=rhel-7-server-rh-common-rpms --enable=rhel-ha-for-rhel-7-server-rpms --enable=rhel-7-server-openstack-10-rpms
  - name: performing yum update
    command: yum update -y
  - name: stopping firewalld
    service: name=firewalld state=stopped
  - name: permanently disabling firewalld
    command: chkconfig firewalld off
#  - name: installing undercloud tripleoclient
#    command: yum install -y python-tripleoclient
  - name: installing tripleoclent director images and introspection kernel
    yum: name={{ item }} state=installed
    with_items:
    - tripleoclient
    - rhosp-director-images 
    - rhosp-director-images-ipa
